# Environment mode
NODE_ENV= # dev or prod

# phpMyAdmin & database configuration
MYSQL_ROOT_PASSWORD=
MYSQL_PORT= # Set to 3306 by default
DB_USER=
DB_PASSWORD=
DB_NAME=eventura # To match the schema.sql & data.sql file names
BACKEND_PORT= # Set to 3000 by default
PHPMYADMIN_PORT= # Set to 8080 by default
